

<div class="container">

  <div class="jumbotron" style="padding:20px 0px">
  <label style="margin-left: 80px">Products</label>
  <button class="btn btn-outline-info" data-target="#mymodel" data-toggle="modal"
  style="margin-left: 700px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 40px;">Add New Product</button>
    </div>

  <div class="modal" id="mymodel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="text-dark" style="font-weight: bold;">Add-New-Product</h3>
          <button type="button" class="close" data-dismiss="modal"> &times; </button>
        </div>

        <div class="modal-body">
          <form>

            <div class="form-group">
              <h4><i class="fa fa-user" style="color:darkmagenta"></i> Product_Name</h4>
              <input type="text" class="form-control" name="name" [(ngModel)]="model.name">
            </div>

            <div class="form-group">
              <h4><i class="fa fa-search" style="color:darkmagenta"></i> Category</h4>
              <input type="text" class="form-control" name="category" [(ngModel)]="model.category">
            </div>

            <div class="form-group">
              <h4><i class="fa fa-rupee" style="color:darkmagenta"></i> Price</h4>
              <input type="text" class="form-control" name="price" [(ngModel)]="model.price">
            </div>

            <div class="form-group">
              <h4><i class="fa fa-plus-circle" style="color:darkmagenta"></i> Quantity</h4>
              <input type="text" class="form-control" name="quantity" [(ngModel)]="model.quantity">
            </div>

          </form>
        </div>

        <div class="modal-footer" style="justify-content: center;">
        <button type="submit" class="btn btn-outline-warning" style="font-weight: bold;" (click)="submit()">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of emp">
        <td>{{e.id}}</td>
        <td>{{e.name}}</td>
        <td>{{e.category}}</td>
        <td>{{e.price | currency:'INR'}}</td>
        <td>{{e.quantity}}</td>
      </tr>
    </tbody>
  </table>
</div>